.env
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/
*.egg
db.sqlite3
*.sqlite3
staticfiles/
mediafiles/
.venv/
venv/
env/
.DS_Store
*.log
celerybeat-schedule
celerybeat.pid
media/
